{% comment %}A component for rendering a grid of boxes with text in the middle{% endcomment %}
<div class="boxes {{ include.compact }}">
  <div class="ui stackable middle aligned {{ include.columns | default: "two" }} column grid container">
    {% assign box_num = 0 %}
  {% for box in include.boxes %}
    <div class="column">
      <a class="box box-{{box_num}}" href="{{ box.url }}" {% if box.image %}style="background-image: url({{ box.image }})"{% endif %}>{{ box.label }}</a>
      {% assign box_num = box_num | plus: 1 %}
    </div>
  {% endfor %}
  </div>
</div>
