$navBackground: #eee;
$sansSerifFont: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFont: "PT Serif", Georgia, serif;

$boxColor0: #1b4040;
$boxColor1: #2e7575;
$boxColor2: #1f2763;
$boxColor3: #14193e;
$boxColor4: #401b2e;
$boxColor5: #6b2c4c;
$boxColor: #1a1b1d;
$boxLabelFontSize: 1.8rem;
$boxLabelWidth: 2 * $boxLabelFontSize;
