<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- CSS & fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">

    <!-- RSS -->
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  </head>
<body>
  <!-- Header -->
  <header class="main-header">
    <div class="ui menu borderless">
      <div class="ui container">
        <a href="/" class="header item">
          <img class="logo" src="/img/lsm-logo.png">
          Social<span class="header-second">Machines</span>
        </a>
        <div class="right menu">
        {% for link in site.data.nav.links %}
          <a class="item" href="{{ link.url }}">{{ link.label }}</a>
        {% endfor %}
        </div>
      </div>
    </div>
  </header>

  <div class="main-content">
    <div class="ui grid container">
      {{ content }}
    </div>
  </div>

  <footer class="ui vertical segment inverted main-footer">
    <div class="ui container">
       <div class="ui list">
          <div class="item">
            <div class="content">
              Heather Pierce <span class="muted">(Group Contact)</span>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a href="mailto:hac@media.mit.edu">hac@media.mit.edu</a>
            </div>
          </div>
          <div class="item">
            <div class="content">
              (617) 324-4914
            </div>
          </div>
          <div class="item">
            <div class="content">
              75 Amherst St, Cambridge, MA
            </div>
          </div>
        </div>
        <div>
          <p>
            &copy; {{ 'now' | date: '%Y' }} Laboratory for Social Machines
          </p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Script -->
  <script src="{{ "/js/main.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
</body>
</html>
