<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- CSS & fonts -->
    <link rel="stylesheet" href="{{ "/css/semantic.css" | prepend: site.baseurl | replace: '//', '/' }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}">

    <!-- RSS -->
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
  </head>
<body>
  <!-- Header -->
  <header class="main-header">
    <div class="ui inverted menu">
      <div class="ui container">
        <a href="{{ site.baseurl }}" class="header item">
          <img class="logo" src="/img/lsm-logo.png">
          Lab for Social Machines
        </a>
        {% for link in site.data.nav.links %}
          <a class="item" href="{{ link.url }}">{{ link.label }}</a>
        {% endfor %}
      </div>
    </div>
  </header>

  <div class="main-content">
    <div class="ui grid container">
      {{ content }}
    </div>
  </div>

  <footer class="ui vertical segment inverted">
    <div class="ui container">
      &copy; {{ 'now' | date: '%Y' }} Lab for Social Machines
    </div>
  </footer>


  <!-- Script -->
  <script src="{{ "/js/main.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
</body>
</html>
