---
layout: default
---

<div class="ui container">
<h1 class="page-header {% if page.boxes %}with-boxes{% endif %}{% if page.title_image %}with-title-image{%endif%}">
  {% if page.title_image %}
  	<img src="{{page.title_image}}" class="title-image" />
  {% else %}
  	{% if page.header %}{{page.header}}{% else %}{{page.title}}{% endif %}
  {% endif %}
</h1>
{% if page.boxes %}
<div class="header-box-container">
  {% include boxes.html boxes=page.boxes columns=page.boxColumns compact=page.boxCompact %}
</div>
{% endif %}

  {{ content }}
</div>
