---
layout: default
---
<div class="people ui container">
  <h1>{{ page.title }}</h1>

  {% comment %}Start with the full set of people{% endcomment %}
  {% assign filtered_people = site.data.people %}

  {% if page.group %}
    {% assign filtered_people = site.data.people | where_exp: 'person', 'person.groups contains page.group' %}
  {% endif %}
  {% assign first = filtered_people | first %}

  {% comment %}Filter out alumni into their own section{% endcomment %}
  {% assign alumni = filtered_people | where: 'alumni', true %}
  {% assign filtered_people = filtered_people | where_exp: 'person', 'person.alumni != true' %}

  {% assign grouped_people = filtered_people | group_by: 'type' %}

  {% for people_group_name in page.people_order  %}
    {% assign people_group = grouped_people | where: 'name', people_group_name | first %}

    {% assign num_people = people_group.items | size %}
    {% if num_people > 0 %}

      {% capture label %}
      {% case people_group.name %}
          {% when 'leadership' %}__exclude
          {% when 'faculty' %}
            Faculty
          {% when 'visitor' %}
            Visiting Researchers and Collaborators
          {% when 'cortico' %}
            Cortico
          {% when 'postdoc' %}
            Post-doctoral Researchers
          {% when 'student' %}
            Students
          {% when 'staff' %}
            Staff
          {% else %}
            Other {{ people_group.name }}
          {% endcase %}
      {% endcapture %}

      {% include people_group.html label=label people=people_group.items %}

    {% endif %}
  {% endfor %}
  {% comment %}End people group for{% endcomment %}

  {% include people_group.html label="Alumni" people=alumni %}

  <div>
    {{ content }}
  </div>
</div>