---
layout: default
---
<div class="people ui container">
  <h1>{{ page.title }}</h1>

  {% comment %}Start with the full set of people{% endcomment %}
  {% assign filtered_people = site.data.people %}

  {% if page.group %}
    {% assign filtered_people = site.data.people | where_exp: 'person', 'person.groups contains page.group' %}
  {% endif %}
  {% assign first = filtered_people | first %}

  <div class="ui two stackable cards">
  {% for person in filtered_people %}
    <div class="card">
      <div class="content">
        {% if person.image %}
        <div class="left floated tiny ui image">
          <div class="profile-img" style="background-image: url({{ person.image }})"></div>
        </div>
        {% endif %}
        <div class="header">
          {% if person.url %}
            <a href="{{ person.url }}">{{ person.name }}</a>
          {% else %}
            {{ person.name }}
          {% endif %}
        </div>
        <div class="meta">
          {{ person.title }}
        </div>
        <div class="details">
        {% if person.bio %}
          <div>{{ person.bio }}</div>
        {% endif %}
          <div>
          {% comment %}Capitalize each word for groups{% endcomment %}
          {% assign groupsArray = "" | split: "" %}
          {% for group in person.groups %}
            {% assign groupTokens = group | split: ' ' %}
            {% assign capitalized = "" | split: "" %}
            {% for token in groupTokens %}
              {% assign g = token | capitalize %}
              {% assign capitalized = capitalized | push: g %}
            {% endfor %}
            {% assign joined = capitalized | join: ' ' %}
            {% assign groupsArray = groupsArray | push: joined %}
          {% endfor %}
          {{ groupsArray | array_to_sentence_string }}
          </div>
        </div>
      </div>

    </div>
  {% endfor %}
  </div>

  <div>
    {{ content }}
  </div>
</div>