---
layout: default
---
<div class="people">
  <h1>{{ page.title }}</h1>

  {% comment %}Start with the full set of people{% endcomment %}
  {% assign filtered_people = site.data.people %}

  {% if page.group %}
    {% assign filtered_people = site.data.people | where_exp: 'person', 'person.groups contains page.group' %}
  {% endif %}


  {% for person in filtered_people %}
    <div class="person">
      <h3>{{ person.name }}</h3>
      <p>{{ person.title }}</p>

      {% if person.image %}
        <img src="{{ person.image }}" />
      {% endif %}

      {% if person.groups %}
        <p><b>Groups:</b> {{ person.groups | array_to_sentence_string }}</p>
      {% endif %}

      {% if person.url %}
        <p><a href="{{ person.url }}">Website</a></p>
      {% endif %}
    </div>
  {% endfor %}


  <div>
    {{ content }}
  </div>
</div>