---
layout: default
---
<div class="projects">
  <h1>{{ page.title }}</h1>

  {% comment %}Start with the full set of projects{% endcomment %}
  {% assign filtered_projects = site.projects %}

  {% if page.group %}
    {% assign filtered_projects = site.projects | where: 'group', page.group %}
  {% endif %}

  <div class="ui items">
  {% for project in filtered_projects %}
    <div class="item">
      {% if project.image %}
        <div class="image">
          <img src="{{ project.image }}" />
        </div>
      {% endif %}

      <div class="content">
        <a class="header" href="{{ project.url }}">{{ project.header }}</a>
        <div class="meta">
          {% if project.people %}
            <p><b>People:</b> {{ project.people }}</p>
          {% endif %}

          {% if project.alumni %}
            <p><b>Alumni:</b> {{ project.alumni }}</p>
          {% endif %}
        </div>

        <div class="description">
          {{ project.content | truncatewords: 50 }}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  <div>
    {{ content }}
  </div>
</div>