---
layout: default
---
<div class="publications ui text container">
	<h1 class="ui header">{{ page.title }}</h1>

	{% comment %}Start with the full set of publications{% endcomment %}
	{% assign filtered_publications = site.data.publications %}

	{% if page.group %}
		{% assign filtered_publications = site.data.publications | where: 'group', page.group %}
	{% endif %}

	{% assign pub_by_year = filtered_publications | group_by: 'publication_year' %}
	{% for pub_year in pub_by_year  %}
	<h3 class="ui header">{{ pub_year.name }}</h3>

	<ul class="ui list long-text">
	{% for pub in pub_year.items %}
		<li>
			{{ pub.citation | markdownify | replace: '<p>', '' | replace: '</p>', '' }}
			{% if pub.pdf_file %}<a href="{{ pub.pdf_file }}">pdf</a>{% endif %}
		</li>
	{% endfor %}
	</ul>

	{% endfor %}

	<div>
		{{ content }}
	</div>
</div>